@charset "UTF-8";
/* Reseteo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Variables */
/* Mixins */
/* Header */
/* Footer */
/* Index */
/* Galería */
/* Carta */
/* Contacto */
/* Media Querys */
