@charset "UTF-8";
/* Reseteo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  color: blanchedalmond;
  background-color: #401D15;
  font-family: "Raleway", sans-serif; }

/* Header */
h1 {
  display: none; }

nav {
  z-index: 5;
  font-family: "Montserrat", sans-serif;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
  background-color: #1a1a1a; }
  nav .checkbtn {
    font-size: 30px;
    color: blanchedalmond;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none; }
  nav #check {
    display: none; }
  nav .logo {
    float: left;
    width: 20%;
    line-height: 80px;
    margin-left: 80px; }
    nav .logo .logoImg {
      height: 70px; }
  nav ul {
    float: right;
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    nav ul li {
      list-style: none; }
      nav ul li a {
        text-decoration: none;
        display: block;
        padding: 12px 40px;
        font-size: 22px;
        text-transform: uppercase;
        color: blanchedalmond;
        border-radius: 50px;
        transition: all 0.5s ease; }
        nav ul li a:hover {
          background-color: blanchedalmond;
          color: #1a1a1a;
          font-weight: bold; }
      nav ul li .active {
        background-color: blanchedalmond;
        color: #1a1a1a;
        font-weight: bold; }

/* Footer */
footer {
  font-family: "Roboto Mono", monospace;
  background-color: #1a1a1a;
  color: blanchedalmond;
  height: auto;
  width: 100%;
  padding-top: 40px; }
  footer .footerContenido {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center; }
    footer .footerContenido img {
      width: 30vw; }
  footer .footerRedes {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    padding: 0; }
    footer .footerRedes li {
      margin: 0 10px; }
    footer .footerRedes a {
      text-decoration: none;
      color: blanchedalmond; }
      footer .footerRedes a i {
        font-size: 2rem;
        margin: 1.3rem 1.3rem 0 1.3rem;
        transition: all 0.3s ease; }
        footer .footerRedes a i:hover {
          transform: scale(1.5); }
  footer .footerCopyright {
    background-color: #050505;
    width: 100%;
    padding: 20px 0;
    text-align: center; }
    footer .footerCopyright p {
      font-size: 14px;
      word-spacing: 5px;
      letter-spacing: 1px;
      margin: 0; }

/* Index */
.Index-bgImg .bgImgFixed {
  background: url(../assets/img/fondo-index.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh; }

.Index-bgImg .bgImgCaja {
  position: absolute;
  top: 38vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 35%;
  height: 25%;
  text-align: center;
  border: 3px solid #A67A53;
  border-radius: 75px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 16px 0px black;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden; }
  .Index-bgImg .bgImgCaja .bgImgItem1 {
    /* margin: 5%; */
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.7);
    margin-bottom: 1rem;
    letter-spacing: 1px;
    word-spacing: 2px; }
  .Index-bgImg .bgImgCaja .bgImgItem2 {
    margin-top: 1rem;
    padding: 0.6rem 4.3rem;
    background-color: #1a1a1a;
    color: blanchedalmond;
    border-radius: 0.75rem;
    text-decoration: none;
    font-size: 1.5rem;
    border: 5px solid #1a1a1a;
    transition-duration: 0.5s; }
    .Index-bgImg .bgImgCaja .bgImgItem2:hover {
      color: #1a1a1a;
      background-color: blanchedalmond;
      border: 5px solid #1a1a1a;
      font-weight: bold;
      transform: scale(1.03); }

.Index-gridCont {
  width: 85%;
  margin: 70px auto 150px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 5rem;
  grid-template-areas: "nosotros carousel"; }
  .Index-gridCont .gridNosotros {
    grid-area: nosotros; }
    .Index-gridCont .gridNosotros .nosotrosTitulo {
      text-align: center;
      margin: 60px;
      width: auto; }
      .Index-gridCont .gridNosotros .nosotrosTitulo h4 {
        text-transform: capitalize;
        font-size: 36px;
        position: relative;
        display: inline-block;
        padding-bottom: 10px; }
        .Index-gridCont .gridNosotros .nosotrosTitulo h4::before {
          position: absolute;
          content: "";
          width: 100px;
          height: 2px;
          background-color: #ff7620;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%); }
        .Index-gridCont .gridNosotros .nosotrosTitulo h4 span {
          display: block;
          font-size: 18px;
          font-style: italic; }
    .Index-gridCont .gridNosotros p {
      text-align: center;
      font-size: 22px; }
  .Index-gridCont .gridCarousel {
    grid-area: carousel;
    max-width: 600px;
    margin: auto; }
    .Index-gridCont .gridCarousel .carouselTitulo {
      text-align: center;
      margin: 60px;
      width: auto; }
      .Index-gridCont .gridCarousel .carouselTitulo h4 {
        text-transform: capitalize;
        font-size: 36px;
        position: relative;
        display: inline-block;
        padding-bottom: 10px; }
        .Index-gridCont .gridCarousel .carouselTitulo h4::before {
          position: absolute;
          content: "";
          width: 100px;
          height: 2px;
          background-color: #ff7620;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%); }
        .Index-gridCont .gridCarousel .carouselTitulo h4 span {
          display: block;
          font-size: 18px;
          font-style: italic; }

/* Galería */
/* Carta */
/* Contacto */
/* Media Querys */
/* Celulares pequeños */
@media only screen and (max-width: 320px) {
  nav {
    height: 60px; }
    nav .checkbtn {
      display: block;
      line-height: 60px;
      font-size: 24px;
      margin-right: 20px; }
    nav #check:checked ~ ul {
      left: 0; }
    nav .logo {
      line-height: 60px;
      margin: 2px 0 0 15px; }
      nav .logo .logoImg {
        height: 50px; }
    nav ul {
      float: none;
      padding: 0;
      margin: auto;
      position: fixed;
      z-index: 4;
      top: 60px;
      right: 0;
      left: 100%;
      bottom: 0;
      width: auto;
      height: calc(100vh - 60px);
      flex-direction: column;
      background-color: rgba(5, 5, 5, 0.8);
      overflow: hidden;
      transition: all 0.25s ease-in-out; }
  footer .footerContenido img {
    width: 60vw; }
  footer .footerRedes {
    width: 100%; }
    footer .footerRedes a i {
      font-size: 0.8rem; } }

/* Celulares standard */
/* Celulares grandes */
/* Tablets */
/* Laptop */
