@charset "UTF-8";
/* Reseteo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  width: 100%;
  color: blanchedalmond;
  background-color: #401D15;
  font-family: "Raleway", sans-serif;
  overflow-x: hidden; }

/* Header */
h1 {
  display: none; }

nav {
  z-index: 10;
  font-family: "Montserrat", sans-serif;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
  background-color: #1a1a1a; }
  nav .checkbtn {
    font-size: 30px;
    color: blanchedalmond;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none; }
  nav #check {
    display: none; }
  nav .logo {
    float: left;
    width: 20%;
    line-height: 80px;
    margin-left: 80px; }
    nav .logo .logoImg {
      height: 70px; }
  nav ul {
    z-index: 5;
    float: right;
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    nav ul li {
      list-style: none; }
      nav ul li a {
        text-decoration: none;
        display: block;
        padding: 12px 30px;
        font-size: 22px;
        text-transform: uppercase;
        color: blanchedalmond;
        border-radius: 50px;
        transition: all 0.5s ease; }
        nav ul li a:hover {
          background-color: blanchedalmond;
          color: #1a1a1a;
          font-weight: bold; }
      nav ul li .active {
        background-color: blanchedalmond;
        color: #1a1a1a;
        font-weight: bold; }

/* Footer */
footer {
  font-family: "Roboto Mono", monospace;
  background-color: #1a1a1a;
  color: blanchedalmond;
  height: auto;
  width: 100%;
  padding-top: 40px;
  margin-top: 150px; }
  footer .footerContenido {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center; }
    footer .footerContenido img {
      width: 30vw; }
  footer .footerRedes {
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    padding: 0; }
    footer .footerRedes li {
      margin: 0 10px; }
    footer .footerRedes a {
      text-decoration: none;
      color: blanchedalmond; }
      footer .footerRedes a i {
        font-size: 1.5rem;
        margin: 2rem 1.3rem 0 1.3rem;
        transition: all 0.3s ease; }
        footer .footerRedes a i:hover {
          transform: scale(1.5); }
  footer .footerCopyright {
    background-color: #050505;
    width: 100%;
    padding: 20px 0;
    text-align: center; }
    footer .footerCopyright p {
      font-size: 14px;
      word-spacing: 5px;
      letter-spacing: 1px;
      margin: 0; }

/* Index */
.indexConteiner .Index-bgImg .bgImgFixed {
  background: url(https://unsplash.com/photos/O4wSmNb6w18);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 101vh; }

.indexConteiner .Index-bgImg .bgImgCaja {
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  position: absolute;
  top: 38vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 42%;
  height: 28%;
  text-align: center;
  border: 2px solid #A67A53;
  border-radius: 75px;
  box-shadow: 0px 0px 16px 0px black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden; }
  .indexConteiner .Index-bgImg .bgImgCaja h2 {
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.7);
    margin-bottom: 1rem;
    letter-spacing: 1px;
    word-spacing: 2px; }
  .indexConteiner .Index-bgImg .bgImgCaja a {
    margin-top: 1rem;
    padding: 0.6rem 4.3rem;
    background-color: #1a1a1a;
    color: blanchedalmond;
    border-radius: 0.75rem;
    text-decoration: none;
    font-size: 1.5rem;
    border: 5px solid #1a1a1a;
    transition-duration: 0.5s; }
    .indexConteiner .Index-bgImg .bgImgCaja a:hover {
      color: #1a1a1a;
      background-color: blanchedalmond;
      border: 5px solid #1a1a1a;
      font-weight: bold;
      transform: scale(1.03); }

.indexConteiner .Index-gridContainer {
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 5rem;
  grid-template-areas: "nosotros carousel"; }
  .indexConteiner .Index-gridContainer .gridNosotros {
    grid-area: nosotros; }
    .indexConteiner .Index-gridContainer .gridNosotros .nosotrosTitulo {
      text-align: center;
      margin: 150px 60px 60px 60px;
      width: auto;
      margin-top: 100px; }
      .indexConteiner .Index-gridContainer .gridNosotros .nosotrosTitulo h2 {
        position: relative;
        display: inline-block;
        font-size: 36px;
        padding-bottom: 10px;
        text-transform: capitalize; }
        .indexConteiner .Index-gridContainer .gridNosotros .nosotrosTitulo h2::before {
          position: absolute;
          content: "";
          width: 50%;
          height: 2px;
          background-color: #ff7620;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%); }
        .indexConteiner .Index-gridContainer .gridNosotros .nosotrosTitulo h2 span {
          display: block;
          font-size: 16px;
          font-style: italic; }
      @media only screen and (max-width: 508px) {
        .indexConteiner .Index-gridContainer .gridNosotros .nosotrosTitulo {
          margin: 100px 20px 50px 20px;
          width: auto; }
          .indexConteiner .Index-gridContainer .gridNosotros .nosotrosTitulo h2 {
            font-size: 24px; }
            .indexConteiner .Index-gridContainer .gridNosotros .nosotrosTitulo h2 span {
              font-size: 14px; } }
    .indexConteiner .Index-gridContainer .gridNosotros p {
      text-align: center;
      font-size: 22px;
      margin: auto; }
  .indexConteiner .Index-gridContainer .gridCarousel {
    grid-area: carousel;
    max-width: 600px;
    margin: auto; }
    .indexConteiner .Index-gridContainer .gridCarousel .carouselTitulo {
      text-align: center;
      margin: 150px 60px 60px 60px;
      width: auto;
      margin-top: 100px; }
      .indexConteiner .Index-gridContainer .gridCarousel .carouselTitulo h2 {
        position: relative;
        display: inline-block;
        font-size: 36px;
        padding-bottom: 10px;
        text-transform: capitalize; }
        .indexConteiner .Index-gridContainer .gridCarousel .carouselTitulo h2::before {
          position: absolute;
          content: "";
          width: 50%;
          height: 2px;
          background-color: #ff7620;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%); }
        .indexConteiner .Index-gridContainer .gridCarousel .carouselTitulo h2 span {
          display: block;
          font-size: 16px;
          font-style: italic; }
      @media only screen and (max-width: 508px) {
        .indexConteiner .Index-gridContainer .gridCarousel .carouselTitulo {
          margin: 100px 20px 50px 20px;
          width: auto; }
          .indexConteiner .Index-gridContainer .gridCarousel .carouselTitulo h2 {
            font-size: 24px; }
            .indexConteiner .Index-gridContainer .gridCarousel .carouselTitulo h2 span {
              font-size: 14px; } }

/* Galería */
.galeriaTitulo {
  text-align: center;
  margin: 150px 60px 60px 60px;
  width: auto; }
  .galeriaTitulo h2 {
    position: relative;
    display: inline-block;
    font-size: 36px;
    padding-bottom: 10px;
    text-transform: capitalize; }
    .galeriaTitulo h2::before {
      position: absolute;
      content: "";
      width: 50%;
      height: 2px;
      background-color: #ff7620;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%); }
    .galeriaTitulo h2 span {
      display: block;
      font-size: 16px;
      font-style: italic; }
  @media only screen and (max-width: 508px) {
    .galeriaTitulo {
      margin: 100px 20px 50px 20px;
      width: auto; }
      .galeriaTitulo h2 {
        font-size: 24px; }
        .galeriaTitulo h2 span {
          font-size: 14px; } }

.galeria {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 200px 200px;
  grid-gap: 22px;
  grid-auto-flow: dense; }
  .galeria .galeriaContainer .galeriaItem {
    width: 100%;
    height: 100%;
    position: relative; }
    .galeria .galeriaContainer .galeriaItem:hover .galeriaImg img {
      transform: scale(1.22); }
    .galeria .galeriaContainer .galeriaItem:hover .galeriaTexto {
      opacity: 1;
      padding: 12px;
      width: 100%;
      animation: haciaAbajo 0.3s linear; }
    .galeria .galeriaContainer .galeriaItem .galeriaImg {
      width: 100%;
      height: 100%;
      overflow: hidden; }
      .galeria .galeriaContainer .galeriaItem .galeriaImg img {
        width: 100%;
        height: 100%;
        cursor: pointer;
        object-fit: cover;
        object-position: 50% 50%;
        transition: all 0.5s ease-in-out; }
    .galeria .galeriaContainer .galeriaItem .galeriaTexto {
      background-color: rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      z-index: 3;
      width: 100%;
      font-size: 22px;
      font-family: "Roboto Mono", monospace;
      font-weight: bold;
      text-align: center;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;
      transition: all 0.3s ease-in-out; }
  .galeria .foto1 {
    grid-column: span 2;
    grid-row: span 2; }
  .galeria .foto2 {
    grid-column: span 1;
    grid-row: span 3; }
  .galeria .foto3 {
    grid-column: span 2;
    grid-row: span 2; }
  .galeria .foto4 {
    grid-column: span 1;
    grid-row: span 2; }
  .galeria .foto5 {
    grid-column: span 2;
    grid-row: span 1; }
  .galeria .foto6 {
    grid-column: span 1;
    grid-row: span 1; }
  .galeria .foto7 {
    grid-column: span 2;
    grid-row: span 2; }
  .galeria .foto8 {
    grid-column: span 2;
    grid-row: span 2; }
  .galeria .foto9 {
    grid-column: span 1;
    grid-row: span 1; }
  .galeria .foto10 {
    grid-column: span 1;
    grid-row: span 2; }
  .galeria .foto11 {
    grid-column: span 1;
    grid-row: span 1; }
  .galeria .foto12 {
    grid-column: span 2;
    grid-row: span 1; }

@keyframes haciaAbajo {
  0% {
    top: 10%; }
  50% {
    top: 35%; }
  100% {
    top: 50%; } }

/* Carta */
.cartaTitulo {
  text-align: center;
  margin: 150px 60px 60px 60px;
  width: auto; }
  .cartaTitulo h2 {
    position: relative;
    display: inline-block;
    font-size: 36px;
    padding-bottom: 10px;
    text-transform: capitalize; }
    .cartaTitulo h2::before {
      position: absolute;
      content: "";
      width: 50%;
      height: 2px;
      background-color: #ff7620;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%); }
    .cartaTitulo h2 span {
      display: block;
      font-size: 16px;
      font-style: italic; }
  @media only screen and (max-width: 508px) {
    .cartaTitulo {
      margin: 100px 20px 50px 20px;
      width: auto; }
      .cartaTitulo h2 {
        font-size: 24px; }
        .cartaTitulo h2 span {
          font-size: 14px; } }

.carta {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "bebidas entradas"
 "principal guarniciones";
  justify-items: center;
  grid-column-gap: 8vw;
  grid-row-gap: 8vh; }
  .carta .plato {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #A67A53;
    flex-direction: row;
    flex-basis: 580px;
    align-items: center; }
    .carta .plato:hover img {
      border-radius: 0; }
    .carta .plato:nth-child(5) {
      border-bottom: 0;
      margin-bottom: 40px; }
    .carta .plato img {
      width: 150px;
      height: 150px;
      margin-right: 30px;
      border-radius: 50%;
      border: 3px solid #A67A53;
      padding: 3px;
      transition: all 0.3s ease; }
    .carta .plato .platoDesc {
      width: 100%; }
      .carta .plato .platoDesc h4 {
        text-transform: capitalize;
        font-size: 22px;
        border-bottom: 1px dashed #A67A53;
        margin-bottom: 5px;
        padding-bottom: 5px;
        font-family: "Roboto Mono", monospace; }
        .carta .plato .platoDesc h4 span {
          float: right;
          color: #ff7620; }
      .carta .plato .platoDesc p {
        font-size: 14px;
        font-style: italic; }
  .carta .bebidas {
    grid-area: bebidas;
    width: 100%; }
    .carta .bebidas .bebidasSubtitulo {
      text-align: center;
      margin: 30px;
      width: auto;
      margin-top: 50px; }
      .carta .bebidas .bebidasSubtitulo h3 {
        position: relative;
        display: inline-block;
        font-size: 32px;
        text-transform: capitalize; }
        .carta .bebidas .bebidasSubtitulo h3::after, .carta .bebidas .bebidasSubtitulo h3::before {
          content: '';
          position: absolute;
          width: 50px;
          height: 2px;
          background-color: #ff7620;
          top: 0.6em; }
        .carta .bebidas .bebidasSubtitulo h3::before {
          right: -70px; }
        .carta .bebidas .bebidasSubtitulo h3::after {
          left: -70px; }
      @media only screen and (max-width: 508px) {
        .carta .bebidas .bebidasSubtitulo {
          margin: 100px 20px 50px 20px;
          width: auto; }
          .carta .bebidas .bebidasSubtitulo h3 {
            font-size: 22px; }
            .carta .bebidas .bebidasSubtitulo h3::after, .carta .bebidas .bebidasSubtitulo h3::before {
              width: 30px; }
            .carta .bebidas .bebidasSubtitulo h3::before {
              right: -40px; }
            .carta .bebidas .bebidasSubtitulo h3::after {
              left: -40px; } }
  .carta .entradas {
    grid-area: entradas;
    width: 100%; }
    .carta .entradas .entradasSubtitulo {
      text-align: center;
      margin: 30px;
      width: auto;
      margin-top: 50px; }
      .carta .entradas .entradasSubtitulo h3 {
        position: relative;
        display: inline-block;
        font-size: 32px;
        text-transform: capitalize; }
        .carta .entradas .entradasSubtitulo h3::after, .carta .entradas .entradasSubtitulo h3::before {
          content: '';
          position: absolute;
          width: 50px;
          height: 2px;
          background-color: #ff7620;
          top: 0.6em; }
        .carta .entradas .entradasSubtitulo h3::before {
          right: -70px; }
        .carta .entradas .entradasSubtitulo h3::after {
          left: -70px; }
      @media only screen and (max-width: 508px) {
        .carta .entradas .entradasSubtitulo {
          margin: 100px 20px 50px 20px;
          width: auto; }
          .carta .entradas .entradasSubtitulo h3 {
            font-size: 22px; }
            .carta .entradas .entradasSubtitulo h3::after, .carta .entradas .entradasSubtitulo h3::before {
              width: 30px; }
            .carta .entradas .entradasSubtitulo h3::before {
              right: -40px; }
            .carta .entradas .entradasSubtitulo h3::after {
              left: -40px; } }
  .carta .principal {
    grid-area: principal;
    width: 100%; }
    .carta .principal .principalSubtitulo {
      text-align: center;
      margin: 30px;
      width: auto;
      margin-top: 50px; }
      .carta .principal .principalSubtitulo h3 {
        position: relative;
        display: inline-block;
        font-size: 32px;
        text-transform: capitalize; }
        .carta .principal .principalSubtitulo h3::after, .carta .principal .principalSubtitulo h3::before {
          content: '';
          position: absolute;
          width: 50px;
          height: 2px;
          background-color: #ff7620;
          top: 0.6em; }
        .carta .principal .principalSubtitulo h3::before {
          right: -70px; }
        .carta .principal .principalSubtitulo h3::after {
          left: -70px; }
      @media only screen and (max-width: 508px) {
        .carta .principal .principalSubtitulo {
          margin: 100px 20px 50px 20px;
          width: auto; }
          .carta .principal .principalSubtitulo h3 {
            font-size: 22px; }
            .carta .principal .principalSubtitulo h3::after, .carta .principal .principalSubtitulo h3::before {
              width: 30px; }
            .carta .principal .principalSubtitulo h3::before {
              right: -40px; }
            .carta .principal .principalSubtitulo h3::after {
              left: -40px; } }
  .carta .guarniciones {
    grid-area: guarniciones;
    width: 100%; }
    .carta .guarniciones .guarnicionesSubtitulo {
      text-align: center;
      margin: 30px;
      width: auto;
      margin-top: 50px; }
      .carta .guarniciones .guarnicionesSubtitulo h3 {
        position: relative;
        display: inline-block;
        font-size: 32px;
        text-transform: capitalize; }
        .carta .guarniciones .guarnicionesSubtitulo h3::after, .carta .guarniciones .guarnicionesSubtitulo h3::before {
          content: '';
          position: absolute;
          width: 50px;
          height: 2px;
          background-color: #ff7620;
          top: 0.6em; }
        .carta .guarniciones .guarnicionesSubtitulo h3::before {
          right: -70px; }
        .carta .guarniciones .guarnicionesSubtitulo h3::after {
          left: -70px; }
      @media only screen and (max-width: 508px) {
        .carta .guarniciones .guarnicionesSubtitulo {
          margin: 100px 20px 50px 20px;
          width: auto; }
          .carta .guarniciones .guarnicionesSubtitulo h3 {
            font-size: 22px; }
            .carta .guarniciones .guarnicionesSubtitulo h3::after, .carta .guarniciones .guarnicionesSubtitulo h3::before {
              width: 30px; }
            .carta .guarniciones .guarnicionesSubtitulo h3::before {
              right: -40px; }
            .carta .guarniciones .guarnicionesSubtitulo h3::after {
              left: -40px; } }

/* Contacto */
.contactoTitulo {
  text-align: center;
  margin: 150px 60px 60px 60px;
  width: auto; }
  .contactoTitulo h2 {
    position: relative;
    display: inline-block;
    font-size: 36px;
    padding-bottom: 10px;
    text-transform: capitalize; }
    .contactoTitulo h2::before {
      position: absolute;
      content: "";
      width: 50%;
      height: 2px;
      background-color: #ff7620;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%); }
    .contactoTitulo h2 span {
      display: block;
      font-size: 16px;
      font-style: italic; }
  @media only screen and (max-width: 508px) {
    .contactoTitulo {
      margin: 100px 20px 50px 20px;
      width: auto; }
      .contactoTitulo h2 {
        font-size: 24px; }
        .contactoTitulo h2 span {
          font-size: 14px; } }

.contacto {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  margin: 100px auto 50px auto; }
  .contacto .contactoConteiner {
    width: 80%;
    background-color: #1a1a1a;
    border-radius: 6px;
    border: 3px solid #A67A53;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    padding: 30px 60px 40px 60px;
    text-align: center; }
    .contacto .contactoConteiner .contactoFormulario {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 40px;
      margin-right: 40px; }
      .contacto .contactoConteiner .contactoFormulario .datos {
        width: 25%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative; }
        .contacto .contactoConteiner .contactoFormulario .datos::before {
          content: "";
          position: absolute;
          height: 70%;
          width: 2px;
          right: -15px;
          top: 50%;
          transform: translateY(-50%);
          background-color: #ff7620; }
        .contacto .contactoConteiner .contactoFormulario .datos .datosInfo {
          margin: 14px;
          text-align: center; }
          .contacto .contactoConteiner .contactoFormulario .datos .datosInfo i {
            font-size: 30px;
            color: blanchedalmond;
            margin-bottom: 10px; }
          .contacto .contactoConteiner .contactoFormulario .datos .datosInfo .titulosDatos {
            font-size: 18px;
            font-weight: 500; }
          .contacto .contactoConteiner .contactoFormulario .datos .datosInfo .texto1, .contacto .contactoConteiner .contactoFormulario .datos .datosInfo .texto2 {
            font-size: 14px;
            color: #afafb6; }
      .contacto .contactoConteiner .contactoFormulario .formulario {
        width: 75%;
        margin-left: 75px; }
        .contacto .contactoConteiner .contactoFormulario .formulario h3 {
          font-size: 24px;
          font-weight: 500;
          color: blanchedalmond;
          word-spacing: 2px; }
        .contacto .contactoConteiner .contactoFormulario .formulario .contactoFormulario {
          height: 50px;
          width: 100%;
          margin: 12px 0; }
          .contacto .contactoConteiner .contactoFormulario .formulario .contactoFormulario input {
            height: 100%;
            width: 100%;
            border: none;
            border-radius: 6px;
            background-color: #fff;
            font-size: 16px;
            padding: 0 15px;
            resize: none; }
          .contacto .contactoConteiner .contactoFormulario .formulario .contactoFormulario textarea {
            height: 100%;
            width: 100%;
            border: none;
            border-radius: 6px;
            background-color: #fff;
            font-size: 16px;
            padding: 10px 15px;
            resize: none; }
        .contacto .contactoConteiner .contactoFormulario .formulario .contactoMensaje {
          min-height: 110px; }
        .contacto .contactoConteiner .contactoFormulario .formulario .contactoButton {
          display: inline-block;
          margin-top: 12px; }
          .contacto .contactoConteiner .contactoFormulario .formulario .contactoButton input[type="submit"] {
            color: #fff;
            font-size: 20px;
            outline: none;
            border: none;
            border-radius: 6px;
            padding: 8px 16px;
            background-color: #ff7620;
            cursor: pointer;
            transition: all 0.3s ease; }
            .contacto .contactoConteiner .contactoFormulario .formulario .contactoButton input[type="submit"]:hover {
              background-color: #ff8a41;
              transform: scale(1.05); }
    .contacto .contactoConteiner .contactoMapa {
      margin: auto; }
      .contacto .contactoConteiner .contactoMapa .mapaSubtitulo {
        text-align: center;
        margin: 30px;
        width: auto;
        margin-top: 50px;
        margin-top: 110px; }
        .contacto .contactoConteiner .contactoMapa .mapaSubtitulo h3 {
          position: relative;
          display: inline-block;
          font-size: 32px;
          text-transform: capitalize; }
          .contacto .contactoConteiner .contactoMapa .mapaSubtitulo h3::after, .contacto .contactoConteiner .contactoMapa .mapaSubtitulo h3::before {
            content: '';
            position: absolute;
            width: 50px;
            height: 2px;
            background-color: #ff7620;
            top: 0.6em; }
          .contacto .contactoConteiner .contactoMapa .mapaSubtitulo h3::before {
            right: -70px; }
          .contacto .contactoConteiner .contactoMapa .mapaSubtitulo h3::after {
            left: -70px; }
        @media only screen and (max-width: 508px) {
          .contacto .contactoConteiner .contactoMapa .mapaSubtitulo {
            margin: 100px 20px 50px 20px;
            width: auto; }
            .contacto .contactoConteiner .contactoMapa .mapaSubtitulo h3 {
              font-size: 22px; }
              .contacto .contactoConteiner .contactoMapa .mapaSubtitulo h3::after, .contacto .contactoConteiner .contactoMapa .mapaSubtitulo h3::before {
                width: 30px; }
              .contacto .contactoConteiner .contactoMapa .mapaSubtitulo h3::before {
                right: -40px; }
              .contacto .contactoConteiner .contactoMapa .mapaSubtitulo h3::after {
                left: -40px; } }
      .contacto .contactoConteiner .contactoMapa iframe {
        width: 100%;
        height: 450px;
        margin: auto; }

/* Media Querys */
/* Celulares pequeños */
@media only screen and (max-width: 494px) {
  /* Header */
  nav {
    height: 60px; }
    nav .checkbtn {
      display: block;
      line-height: 60px;
      font-size: 26px;
      margin-right: 20px; }
    nav #check:checked ~ ul {
      left: 0; }
    nav .logo {
      line-height: 60px;
      margin: 2px 0 0 30px; }
      nav .logo .logoImg {
        height: 50px; }
    nav ul {
      float: none;
      padding: 0;
      margin: auto;
      position: fixed;
      z-index: 4;
      top: 60px;
      right: 0;
      left: 100%;
      bottom: 0;
      width: auto;
      height: calc(100vh - 60px);
      flex-direction: column;
      justify-content: start;
      background-color: rgba(5, 5, 5, 0.9);
      overflow: hidden;
      transition: all 0.25s ease-in-out; }
      nav ul li {
        margin: 2rem; }
  /* Footer */
  footer {
    margin-top: 75px; }
    footer .footerContenido img {
      width: 60vw; }
    footer .footerRedes a i {
      font-size: 1.2rem; }
  /* Index */
  .indexConteiner {
    width: 100%; }
    .indexConteiner .Index-bgImg .bgImgCaja {
      width: 100%;
      height: 30%;
      border: none;
      border-radius: 0;
      box-shadow: 0px 0px 8px 0px black; }
      .indexConteiner .Index-bgImg .bgImgCaja h2 {
        font-size: 1.6rem; }
      .indexConteiner .Index-bgImg .bgImgCaja a {
        padding: 2% 12%;
        font-size: 1.2rem; }
    .indexConteiner .Index-gridContainer {
      width: 100%;
      margin: auto;
      grid-template-columns: 1fr;
      grid-template-rows: 1.8fr 1fr;
      gap: 0;
      grid-template-areas: "nosotros"
 "carousel"; }
      .indexConteiner .Index-gridContainer .gridNosotros {
        width: 80%;
        margin: auto; }
        .indexConteiner .Index-gridContainer .gridNosotros .nosotrosTitulo {
          margin-top: 50px; }
        .indexConteiner .Index-gridContainer .gridNosotros p {
          font-size: 18px; }
      .indexConteiner .Index-gridContainer .gridCarousel {
        max-width: 85%; }
        .indexConteiner .Index-gridContainer .gridCarousel .carouselTitulo {
          margin-top: 50px; }
  /* Galería */
  .galeria {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 150px 200px; }
    .galeria .galeriaContainer .galeriaItem .galeriaTexto {
      font-size: 18px; }
    .galeria .foto5 {
      grid-column: span 1;
      grid-row: span 2; }
    .galeria .foto8 {
      grid-column: span 1;
      grid-row: span 2; }
    .galeria .foto12 {
      grid-column: span 2;
      grid-row: span 1; }
  /* Carta */
  .carta {
    width: 85%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "bebidas"
 "entradas"
 "principal"
 "guarniciones";
    grid-column-gap: 0;
    grid-row-gap: 0; }
    .carta .plato img {
      width: 100px;
      height: 100px; }
    .carta .plato .platoDesc h4 {
      font-size: 18px; }
  /* Contacto */
  .contacto .contactoConteiner {
    padding: 30px 0; }
    .contacto .contactoConteiner .contactoFormulario {
      flex-direction: column-reverse;
      margin: 20px 20px; }
      .contacto .contactoConteiner .contactoFormulario .datos {
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap; }
        .contacto .contactoConteiner .contactoFormulario .datos::before {
          display: none; }
      .contacto .contactoConteiner .contactoFormulario .formulario {
        width: 85%;
        margin-left: 0;
        margin-bottom: 20px; }
        .contacto .contactoConteiner .contactoFormulario .formulario h3 {
          margin-bottom: 16px; }
        .contacto .contactoConteiner .contactoFormulario .formulario .contactoButton {
          margin: 12px auto; }
          .contacto .contactoConteiner .contactoFormulario .formulario .contactoButton input[type="submit"] {
            font-size: 16px; }
    .contacto .contactoConteiner .contactoMapa {
      width: 85%; }
      .contacto .contactoConteiner .contactoMapa .mapaSubtitulo {
        margin-top: 60px; }
      .contacto .contactoConteiner .contactoMapa iframe {
        height: 300px; } }

/* Celulares standard */
@media only screen and (min-width: 495px) and (max-width: 640px) {
  /* Header */
  nav {
    height: 60px; }
    nav .checkbtn {
      display: block;
      line-height: 60px;
      font-size: 26px;
      margin-right: 20px; }
    nav #check:checked ~ ul {
      left: 0; }
    nav .logo {
      line-height: 60px;
      margin: 2px 0 0 30px; }
      nav .logo .logoImg {
        height: 50px; }
    nav ul {
      float: none;
      padding: 0;
      margin: auto;
      position: fixed;
      z-index: 4;
      top: 60px;
      right: 0;
      left: 100%;
      bottom: 0;
      width: auto;
      height: calc(100vh - 60px);
      flex-direction: column;
      justify-content: start;
      background-color: rgba(5, 5, 5, 0.9);
      overflow: hidden;
      transition: all 0.25s ease-in-out; }
      nav ul li {
        margin: 2rem; }
  /* Footer */
  footer {
    margin-top: 75px; }
    footer .footerContenido img {
      width: 60vw; }
    footer .footerRedes a i {
      font-size: 1.2rem; }
  /* Index */
  .indexConteiner {
    width: 100%; }
    .indexConteiner .Index-bgImg .bgImgCaja {
      width: 100%;
      height: 30%;
      border: none;
      border-radius: 0;
      box-shadow: 0px 0px 8px 0px black; }
      .indexConteiner .Index-bgImg .bgImgCaja h2 {
        font-size: 1.6rem; }
      .indexConteiner .Index-bgImg .bgImgCaja a {
        padding: 2% 12%;
        font-size: 1.2rem; }
    .indexConteiner .Index-gridContainer {
      width: 100%;
      margin: auto;
      grid-template-columns: 1fr;
      grid-template-rows: 1.3fr 1fr;
      gap: 0;
      grid-template-areas: "nosotros"
 "carousel"; }
      .indexConteiner .Index-gridContainer .gridNosotros {
        width: 80%;
        margin: auto; }
        .indexConteiner .Index-gridContainer .gridNosotros .nosotrosTitulo {
          margin-top: 50px; }
        .indexConteiner .Index-gridContainer .gridNosotros p {
          font-size: 18px; }
      .indexConteiner .Index-gridContainer .gridCarousel {
        max-width: 85%; }
        .indexConteiner .Index-gridContainer .gridCarousel .carouselTitulo {
          margin-top: 50px; }
  /* Galería */
  .galeria {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 150px 200px; }
    .galeria .galeriaContainer .galeriaItem .galeriaTexto {
      font-size: 18px; }
    .galeria .foto5 {
      grid-column: span 1;
      grid-row: span 2; }
    .galeria .foto8 {
      grid-column: span 1;
      grid-row: span 2; }
    .galeria .foto12 {
      grid-column: span 2;
      grid-row: span 1; }
  /* Carta */
  .carta {
    width: 85%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "bebidas"
 "entradas"
 "principal"
 "guarniciones";
    grid-column-gap: 0;
    grid-row-gap: 6vh; }
    .carta .plato img {
      width: 135px;
      height: 135px; }
    .carta .plato .platoDesc h4 {
      font-size: 20px; }
  /* Contacto */
  .contacto .contactoConteiner {
    padding: 30px 0; }
    .contacto .contactoConteiner .contactoFormulario {
      flex-direction: column-reverse;
      margin: 20px 20px; }
      .contacto .contactoConteiner .contactoFormulario .datos {
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap; }
        .contacto .contactoConteiner .contactoFormulario .datos::before {
          display: none; }
      .contacto .contactoConteiner .contactoFormulario .formulario {
        width: 85%;
        margin-left: 0;
        margin-bottom: 20px; }
        .contacto .contactoConteiner .contactoFormulario .formulario h3 {
          margin-bottom: 16px; }
        .contacto .contactoConteiner .contactoFormulario .formulario .contactoButton {
          margin: 12px auto; }
    .contacto .contactoConteiner .contactoMapa {
      width: 85%; }
      .contacto .contactoConteiner .contactoMapa .mapaSubtitulo {
        margin-top: 60px; }
      .contacto .contactoConteiner .contactoMapa iframe {
        height: 300px; } }

/* Celulares grandes */
@media only screen and (min-width: 641px) and (max-width: 920px) {
  /* Header */
  nav {
    height: 70px; }
    nav .checkbtn {
      display: block;
      line-height: 70px;
      font-size: 32px;
      margin-right: 30px; }
    nav #check:checked ~ ul {
      left: 0; }
    nav .logo {
      line-height: 70px;
      margin: 2px 0 0 40px; }
      nav .logo .logoImg {
        height: 60px; }
    nav ul {
      float: none;
      padding: 0;
      margin: auto;
      position: fixed;
      z-index: 4;
      top: 70px;
      right: 0;
      left: 100%;
      bottom: 0;
      width: auto;
      height: calc(100vh - 70px);
      flex-direction: column;
      justify-content: start;
      background-color: rgba(5, 5, 5, 0.9);
      overflow: hidden;
      transition: all 0.25s ease-in-out; }
      nav ul li {
        margin: 2rem; }
  /* Footer */
  footer {
    margin-top: 50px; }
    footer .footerContenido img {
      width: 50vw; }
  /* Index */
  .indexConteiner .Index-bgImg .bgImgCaja {
    width: 70%;
    height: 30%; }
    .indexConteiner .Index-bgImg .bgImgCaja h2 {
      font-size: 1.7rem; }
    .indexConteiner .Index-bgImg .bgImgCaja a {
      padding: 10px 55px;
      font-size: 1.3rem; }
  .indexConteiner .Index-gridContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0;
    grid-template-areas: "nosotros"
 "carousel"; }
    .indexConteiner .Index-gridContainer .gridNosotros {
      width: 80%;
      margin: auto; }
      .indexConteiner .Index-gridContainer .gridNosotros p {
        font-size: 20px; }
    .indexConteiner .Index-gridContainer .gridCarousel {
      max-width: 550px; }
      .indexConteiner .Index-gridContainer .gridCarousel .carouselTitulo {
        margin-top: 50px; }
  /* Galería */
  .galeria {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 150px 200px;
    margin-bottom: 100px; }
    .galeria .galeriaContainer .galeriaItem .galeriaTexto {
      font-size: 18px; }
    .galeria .foto4 {
      grid-column: span 1;
      grid-row: span 2; }
    .galeria .foto5 {
      grid-column: span 1;
      grid-row: span 1; }
    .galeria .foto6 {
      grid-column: span 1;
      grid-row: span 2; }
    .galeria .foto8 {
      grid-column: span 1;
      grid-row: span 2; }
    .galeria .foto12 {
      grid-column: span 2;
      grid-row: span 2; }
  /* Carta */
  .carta {
    width: 70%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "bebidas"
 "entradas"
 "principal"
 "guarniciones";
    grid-column-gap: 0;
    grid-row-gap: 6vh; }
  /* Contacto */
  .contacto .contactoConteiner {
    padding: 30px 0; }
    .contacto .contactoConteiner .contactoFormulario {
      flex-direction: column-reverse;
      margin: 20px 20px; }
      .contacto .contactoConteiner .contactoFormulario .datos {
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap; }
        .contacto .contactoConteiner .contactoFormulario .datos::before {
          display: none; }
      .contacto .contactoConteiner .contactoFormulario .formulario {
        width: 85%;
        margin-left: 0;
        margin-bottom: 20px; }
        .contacto .contactoConteiner .contactoFormulario .formulario .contactoButton {
          margin: 12px auto; }
    .contacto .contactoConteiner .contactoMapa {
      width: 85%; }
      .contacto .contactoConteiner .contactoMapa .mapaSubtitulo {
        margin-top: 50px; }
      .contacto .contactoConteiner .contactoMapa iframe {
        height: 300px; } }

/* Tablet */
@media only screen and (min-width: 921px) and (max-width: 1025px) {
  /* Header */
  nav {
    z-index: 5;
    height: 80px; }
    nav .checkbtn {
      display: block;
      line-height: 80px;
      font-size: 36px;
      margin-right: 30px; }
    nav #check:checked ~ ul {
      left: 0; }
    nav .logo {
      line-height: 80px;
      margin: 2px 0 0 40px; }
      nav .logo .logoImg {
        height: 70px; }
    nav ul {
      float: none;
      padding: 0;
      margin: auto;
      position: fixed;
      z-index: 4;
      top: 80px;
      right: 0;
      left: 100%;
      bottom: 0;
      width: auto;
      height: calc(100vh - 80px);
      flex-direction: column;
      justify-content: start;
      background-color: rgba(5, 5, 5, 0.9);
      overflow: hidden;
      transition: all 0.25s ease-in-out; }
      nav ul li {
        margin: 2rem; }
  /* Footer */
  footer .footerContenido img {
    width: 40vw; }
  /* Index */
  .indexConteiner .Index-bgImg .bgImgCaja {
    width: 55%; }
    .indexConteiner .Index-bgImg .bgImgCaja h2 {
      font-size: 1.7rem; }
    .indexConteiner .Index-bgImg .bgImgCaja a {
      padding: 10px 55px;
      font-size: 1.4rem; }
  .indexConteiner .Index-gridContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    grid-template-areas: "nosotros"
 "carousel"; }
    .indexConteiner .Index-gridContainer .gridNosotros {
      width: 80%;
      margin: auto; }
      .indexConteiner .Index-gridContainer .gridNosotros p {
        font-size: 22px; }
    .indexConteiner .Index-gridContainer .gridCarousel .carouselTitulo {
      margin-top: 50px; }
  /* Galería */
  .galeria {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px 200px; }
    .galeria .galeriaContainer .galeriaItem .galeriaTexto {
      font-size: 20px; }
    .galeria .foto9 {
      grid-column: span 3;
      grid-row: span 1; }
    .galeria .foto10 {
      grid-column: span 2;
      grid-row: span 1; }
  /* Carta */
  .carta {
    width: 90%;
    grid-column-gap: 3vw;
    grid-row-gap: 5vh; }
    .carta .plato img {
      width: 135px;
      height: 135px; }
    .carta .plato .platoDesc h4 {
      font-size: 18px; }
  /* Contacto */
  .contacto .contactoConteiner {
    padding: 40px 0; }
    .contacto .contactoConteiner .contactoFormulario {
      flex-direction: column-reverse;
      margin: 20px 20px; }
      .contacto .contactoConteiner .contactoFormulario .datos {
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: space-between;
        flex-wrap: wrap; }
        .contacto .contactoConteiner .contactoFormulario .datos::before {
          display: none; }
      .contacto .contactoConteiner .contactoFormulario .formulario {
        width: 85%;
        margin-left: 0;
        margin-bottom: 20px; }
        .contacto .contactoConteiner .contactoFormulario .formulario .contactoButton {
          margin: 12px auto; }
    .contacto .contactoConteiner .contactoMapa {
      width: 85%; }
      .contacto .contactoConteiner .contactoMapa .mapaSubtitulo {
        margin-top: 75px; }
      .contacto .contactoConteiner .contactoMapa iframe {
        height: 400px; } }

/* Laptop */
@media only screen and (min-width: 1026px) and (max-width: 1280px) {
  /* Header */
  nav .logo {
    width: 20%;
    line-height: 80px;
    margin: 2px 0 0 40px; }
    nav .logo .logoImg {
      height: 70px; }
  nav ul {
    width: 70%;
    height: 100%; }
  /* Footer */
  footer .footerContenido img {
    width: 40vw; }
  /* Index */
  .indexConteiner .Index-bgImg .bgImgCaja {
    width: 50%; }
    .indexConteiner .Index-bgImg .bgImgCaja h2 {
      font-size: 1.8rem; }
    .indexConteiner .Index-bgImg .bgImgCaja a {
      padding: 10px 60px;
      font-size: 1.4rem; }
  .indexConteiner .Index-gridContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    grid-template-areas: "nosotros"
 "carousel"; }
    .indexConteiner .Index-gridContainer .gridNosotros {
      width: 70%;
      margin: auto; }
      .indexConteiner .Index-gridContainer .gridNosotros p {
        font-size: 22px; }
    .indexConteiner .Index-gridContainer .gridCarousel .carouselTitulo {
      margin-top: 50px; }
  /* Galeria */
  .galeria {
    grid-template-columns: repeat(5, 1fr); }
    .galeria .galeriaContainer .galeriaItem .galeriaTexto {
      font-size: 20px; }
    .galeria .foto10 {
      grid-column: span 2;
      grid-row: span 1; }
  /* Carta */
  .carta {
    width: 90%;
    grid-column-gap: 5vw;
    grid-row-gap: 6vh; }
    .carta .plato .platoDesc h4 {
      font-size: 20px; } }
