@charset "UTF-8";
/* Reseteo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  width: 100%;
  color: blanchedalmond;
  background-color: #401D15;
  font-family: "Raleway", sans-serif; }

/* Header */
h1 {
  display: none; }

nav {
  z-index: 5;
  font-family: "Montserrat", sans-serif;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
  background-color: #1a1a1a; }
  nav .checkbtn {
    font-size: 30px;
    color: blanchedalmond;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none; }
  nav #check {
    display: none; }
  nav .logo {
    float: left;
    width: 20%;
    line-height: 80px;
    margin-left: 80px; }
    nav .logo .logoImg {
      height: 70px; }
  nav ul {
    float: right;
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    nav ul li {
      list-style: none; }
      nav ul li a {
        text-decoration: none;
        display: block;
        padding: 12px 40px;
        font-size: 22px;
        text-transform: uppercase;
        color: blanchedalmond;
        border-radius: 50px;
        transition: all 0.5s ease; }
        nav ul li a:hover {
          background-color: blanchedalmond;
          color: #1a1a1a;
          font-weight: bold; }
      nav ul li .active {
        background-color: blanchedalmond;
        color: #1a1a1a;
        font-weight: bold; }

/* Footer */
footer {
  font-family: "Roboto Mono", monospace;
  background-color: #1a1a1a;
  color: blanchedalmond;
  height: auto;
  width: 100%;
  padding-top: 40px;
  margin-top: 150px; }
  footer .footerContenido {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center; }
    footer .footerContenido img {
      width: 30vw; }
  footer .footerRedes {
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    padding: 0; }
    footer .footerRedes li {
      margin: 0 10px; }
    footer .footerRedes a {
      text-decoration: none;
      color: blanchedalmond; }
      footer .footerRedes a i {
        font-size: 1.5rem;
        margin: 2rem 1.3rem 0 1.3rem;
        transition: all 0.3s ease; }
        footer .footerRedes a i:hover {
          transform: scale(1.5); }
  footer .footerCopyright {
    background-color: #050505;
    width: 100%;
    padding: 20px 0;
    text-align: center; }
    footer .footerCopyright p {
      font-size: 14px;
      word-spacing: 5px;
      letter-spacing: 1px;
      margin: 0; }

/* Index */
.Index-bgImg .bgImgFixed {
  background: url(../assets/img/fondo-index.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 101vh; }

.Index-bgImg .bgImgCaja {
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  position: absolute;
  top: 38vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 35%;
  height: 25%;
  text-align: center;
  border: 2px solid #A67A53;
  border-radius: 75px;
  box-shadow: 0px 0px 16px 0px black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden; }
  .Index-bgImg .bgImgCaja h2 {
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.7);
    margin-bottom: 1rem;
    letter-spacing: 1px;
    word-spacing: 2px; }
  .Index-bgImg .bgImgCaja a {
    margin-top: 1rem;
    padding: 0.6rem 4.3rem;
    background-color: #1a1a1a;
    color: blanchedalmond;
    border-radius: 0.75rem;
    text-decoration: none;
    font-size: 1.5rem;
    border: 5px solid #1a1a1a;
    transition-duration: 0.5s; }
    .Index-bgImg .bgImgCaja a:hover {
      color: #1a1a1a;
      background-color: blanchedalmond;
      border: 5px solid #1a1a1a;
      font-weight: bold;
      transform: scale(1.03); }

.Index-gridContainer {
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 5rem;
  grid-template-areas: "nosotros carousel"; }
  .Index-gridContainer .gridNosotros {
    grid-area: nosotros; }
    .Index-gridContainer .gridNosotros .nosotrosTitulo {
      text-align: center;
      margin: 150px 60px 60px 60px;
      width: auto;
      margin-top: 100px; }
      .Index-gridContainer .gridNosotros .nosotrosTitulo h2 {
        position: relative;
        display: inline-block;
        font-size: 36px;
        padding-bottom: 10px;
        text-transform: capitalize; }
        .Index-gridContainer .gridNosotros .nosotrosTitulo h2::before {
          position: absolute;
          content: "";
          width: 50%;
          height: 2px;
          background-color: #ff7620;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%); }
        .Index-gridContainer .gridNosotros .nosotrosTitulo h2 span {
          display: block;
          font-size: 16px;
          font-style: italic; }
    .Index-gridContainer .gridNosotros p {
      text-align: center;
      font-size: 22px;
      margin: auto; }
  .Index-gridContainer .gridCarousel {
    grid-area: carousel;
    max-width: 600px;
    margin: auto; }
    .Index-gridContainer .gridCarousel .carouselTitulo {
      text-align: center;
      margin: 150px 60px 60px 60px;
      width: auto;
      margin-top: 100px; }
      .Index-gridContainer .gridCarousel .carouselTitulo h2 {
        position: relative;
        display: inline-block;
        font-size: 36px;
        padding-bottom: 10px;
        text-transform: capitalize; }
        .Index-gridContainer .gridCarousel .carouselTitulo h2::before {
          position: absolute;
          content: "";
          width: 50%;
          height: 2px;
          background-color: #ff7620;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%); }
        .Index-gridContainer .gridCarousel .carouselTitulo h2 span {
          display: block;
          font-size: 16px;
          font-style: italic; }

/* Galería */
.galeriaTitulo {
  text-align: center;
  margin: 150px 60px 60px 60px;
  width: auto; }
  .galeriaTitulo h2 {
    position: relative;
    display: inline-block;
    font-size: 36px;
    padding-bottom: 10px;
    text-transform: capitalize; }
    .galeriaTitulo h2::before {
      position: absolute;
      content: "";
      width: 50%;
      height: 2px;
      background-color: #ff7620;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%); }
    .galeriaTitulo h2 span {
      display: block;
      font-size: 16px;
      font-style: italic; }

.galeria {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 200px 200px;
  grid-gap: 22px;
  grid-auto-flow: dense; }
  .galeria .galeriaContainer .galeriaItem {
    width: 100%;
    height: 100%;
    position: relative; }
    .galeria .galeriaContainer .galeriaItem:hover .galeriaImg img {
      transform: scale(1.22); }
    .galeria .galeriaContainer .galeriaItem:hover .galeriaTexto {
      opacity: 1;
      padding: 12px;
      width: 100%;
      animation: haciaAbajo 0.3s linear; }
    .galeria .galeriaContainer .galeriaItem .galeriaImg {
      width: 100%;
      height: 100%;
      overflow: hidden; }
      .galeria .galeriaContainer .galeriaItem .galeriaImg img {
        width: 100%;
        height: 100%;
        cursor: pointer;
        object-fit: cover;
        object-position: 50% 50%;
        transition: all 0.5s ease-in-out; }
    .galeria .galeriaContainer .galeriaItem .galeriaTexto {
      background-color: rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      z-index: 3;
      width: 100%;
      font-size: 22px;
      font-family: "Roboto Mono", monospace;
      font-weight: bold;
      text-align: center;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;
      transition: all 0.3s ease-in-out; }
  .galeria .columnSpan1 {
    grid-column: span 1; }
  .galeria .columnSpan2 {
    grid-column: span 2; }
  .galeria .columnSpan3 {
    grid-column: span 3; }
  .galeria .rowSpan1 {
    grid-row: span 1; }
  .galeria .rowSpan2 {
    grid-row: span 2; }
  .galeria .rowSpan3 {
    grid-row: span 3; }

@keyframes haciaAbajo {
  0% {
    top: 10%; }
  50% {
    top: 35%; }
  100% {
    top: 50%; } }

/* Carta */
.cartaTitulo {
  text-align: center;
  margin: 150px 60px 60px 60px;
  width: auto; }
  .cartaTitulo h2 {
    position: relative;
    display: inline-block;
    font-size: 36px;
    padding-bottom: 10px;
    text-transform: capitalize; }
    .cartaTitulo h2::before {
      position: absolute;
      content: "";
      width: 50%;
      height: 2px;
      background-color: #ff7620;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%); }
    .cartaTitulo h2 span {
      display: block;
      font-size: 16px;
      font-style: italic; }

.carta {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "bebidas entradas" "principal guarniciones";
  justify-items: center; }
  .carta .plato {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #A67A53;
    flex-direction: row;
    flex-basis: 580px;
    align-items: center; }
    .carta .plato:hover img {
      border-radius: 0; }
    .carta .plato:nth-child(5) {
      border-bottom: 0;
      margin-bottom: 40px; }
    .carta .plato img {
      width: 150px;
      height: 150px;
      margin-right: 30px;
      border-radius: 50%;
      border: 3px solid #A67A53;
      padding: 3px;
      transition: all 0.3s ease; }
    .carta .plato .platoDesc {
      float: left; }
      .carta .plato .platoDesc h4 {
        text-transform: capitalize;
        font-size: 22px;
        border-bottom: 1px dashed #A67A53;
        margin-bottom: 5px;
        padding-bottom: 5px;
        font-family: "Roboto Mono", monospace; }
        .carta .plato .platoDesc h4 span {
          float: right;
          color: #ff7620; }
      .carta .plato .platoDesc p {
        font-size: 14px;
        font-style: italic; }
  .carta .bebidas {
    grid-area: bebidas;
    width: 50%; }
    .carta .bebidas .bebidasSubtitulo {
      text-align: center;
      margin: 30px;
      width: auto;
      margin-top: 50px; }
      .carta .bebidas .bebidasSubtitulo h3 {
        position: relative;
        display: inline-block;
        font-size: 28px;
        text-transform: capitalize; }
        .carta .bebidas .bebidasSubtitulo h3::after, .carta .bebidas .bebidasSubtitulo h3::before {
          content: '';
          position: absolute;
          width: 50px;
          height: 2px;
          background-color: #ff7620;
          top: 0.6em; }
        .carta .bebidas .bebidasSubtitulo h3::before {
          right: -70px; }
        .carta .bebidas .bebidasSubtitulo h3::after {
          left: -70px; }
  .carta .entradas {
    grid-area: entradas;
    width: 50%; }
    .carta .entradas .entradasSubtitulo {
      text-align: center;
      margin: 30px;
      width: auto;
      margin-top: 50px; }
      .carta .entradas .entradasSubtitulo h3 {
        position: relative;
        display: inline-block;
        font-size: 28px;
        text-transform: capitalize; }
        .carta .entradas .entradasSubtitulo h3::after, .carta .entradas .entradasSubtitulo h3::before {
          content: '';
          position: absolute;
          width: 50px;
          height: 2px;
          background-color: #ff7620;
          top: 0.6em; }
        .carta .entradas .entradasSubtitulo h3::before {
          right: -70px; }
        .carta .entradas .entradasSubtitulo h3::after {
          left: -70px; }
  .carta .principal {
    grid-area: principal;
    width: 50%; }
    .carta .principal .principalSubtitulo {
      text-align: center;
      margin: 30px;
      width: auto;
      margin-top: 50px; }
      .carta .principal .principalSubtitulo h3 {
        position: relative;
        display: inline-block;
        font-size: 28px;
        text-transform: capitalize; }
        .carta .principal .principalSubtitulo h3::after, .carta .principal .principalSubtitulo h3::before {
          content: '';
          position: absolute;
          width: 50px;
          height: 2px;
          background-color: #ff7620;
          top: 0.6em; }
        .carta .principal .principalSubtitulo h3::before {
          right: -70px; }
        .carta .principal .principalSubtitulo h3::after {
          left: -70px; }
  .carta .guarniciones {
    grid-area: guarniciones;
    width: 50%; }
    .carta .guarniciones .guarnicionesSubtitulo {
      text-align: center;
      margin: 30px;
      width: auto;
      margin-top: 50px; }
      .carta .guarniciones .guarnicionesSubtitulo h3 {
        position: relative;
        display: inline-block;
        font-size: 28px;
        text-transform: capitalize; }
        .carta .guarniciones .guarnicionesSubtitulo h3::after, .carta .guarniciones .guarnicionesSubtitulo h3::before {
          content: '';
          position: absolute;
          width: 50px;
          height: 2px;
          background-color: #ff7620;
          top: 0.6em; }
        .carta .guarniciones .guarnicionesSubtitulo h3::before {
          right: -70px; }
        .carta .guarniciones .guarnicionesSubtitulo h3::after {
          left: -70px; }

/* Contacto */
.contactoTitulo {
  text-align: center;
  margin: 150px 60px 60px 60px;
  width: auto; }
  .contactoTitulo h2 {
    position: relative;
    display: inline-block;
    font-size: 36px;
    padding-bottom: 10px;
    text-transform: capitalize; }
    .contactoTitulo h2::before {
      position: absolute;
      content: "";
      width: 50%;
      height: 2px;
      background-color: #ff7620;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%); }
    .contactoTitulo h2 span {
      display: block;
      font-size: 16px;
      font-style: italic; }

/* Media Querys */
/* Celulares pequeños */
@media only screen and (max-width: 320px) {
  nav {
    height: 60px; }
    nav .checkbtn {
      display: block;
      line-height: 60px;
      font-size: 24px;
      margin-right: 20px; }
    nav #check:checked ~ ul {
      left: 0; }
    nav .logo {
      line-height: 60px;
      margin: 2px 0 0 10px; }
      nav .logo .logoImg {
        height: 50px; }
    nav ul {
      float: none;
      padding: 0;
      margin: auto;
      position: fixed;
      z-index: 4;
      top: 60px;
      right: 0;
      left: 100%;
      bottom: 0;
      width: auto;
      height: calc(100vh - 60px);
      flex-direction: column;
      justify-content: start;
      background-color: rgba(5, 5, 5, 0.9);
      overflow: hidden;
      transition: all 0.25s ease-in-out; }
      nav ul li {
        margin: 2rem; }
  footer .footerContenido img {
    width: 65vw; }
  footer .footerRedes a i {
    font-size: 0.8rem; }
  .galeria {
    grid-template-columns: 1fr;
    grid-auto-rows: 250px; }
    .galeria .columnSpan1, .galeria .columnSpan2, .galeria .columnSpan3 {
      grid-column: span 1; }
    .galeria .rowSpan1, .galeria .rowSpan2, .galeria .rowSpan3 {
      grid-row: span 1; } }

/* Celulares standard */
@media only screen and (min-width: 321px) and (max-width: 640px) {
  nav {
    height: 60px; }
    nav .checkbtn {
      display: block;
      line-height: 60px;
      font-size: 26px;
      margin-right: 20px; }
    nav #check:checked ~ ul {
      left: 0; }
    nav .logo {
      line-height: 60px;
      margin: 2px 0 0 30px; }
      nav .logo .logoImg {
        height: 50px; }
    nav ul {
      float: none;
      padding: 0;
      margin: auto;
      position: fixed;
      z-index: 4;
      top: 60px;
      right: 0;
      left: 100%;
      bottom: 0;
      width: auto;
      height: calc(100vh - 60px);
      flex-direction: column;
      justify-content: start;
      background-color: rgba(5, 5, 5, 0.9);
      overflow: hidden;
      transition: all 0.25s ease-in-out; }
      nav ul li {
        margin: 2rem; }
  footer .footerContenido img {
    width: 60vw; }
  footer .footerRedes a i {
    font-size: 1.2rem; }
  .galeria {
    grid-template-columns: 1fr;
    grid-auto-rows: 300px; }
    .galeria .columnSpan1, .galeria .columnSpan2, .galeria .columnSpan3 {
      grid-column: span 1; }
    .galeria .rowSpan1, .galeria .rowSpan2, .galeria .rowSpan3 {
      grid-row: span 1; } }

/* Celulares grandes */
@media only screen and (min-width: 641px) and (max-width: 920px) {
  nav {
    height: 70px; }
    nav .checkbtn {
      display: block;
      line-height: 70px;
      font-size: 32px;
      margin-right: 30px; }
    nav #check:checked ~ ul {
      left: 0; }
    nav .logo {
      line-height: 70px;
      margin: 2px 0 0 40px; }
      nav .logo .logoImg {
        height: 60px; }
    nav ul {
      float: none;
      padding: 0;
      margin: auto;
      position: fixed;
      z-index: 4;
      top: 70px;
      right: 0;
      left: 100%;
      bottom: 0;
      width: auto;
      height: calc(100vh - 70px);
      flex-direction: column;
      justify-content: start;
      background-color: rgba(5, 5, 5, 0.9);
      overflow: hidden;
      transition: all 0.25s ease-in-out; }
      nav ul li {
        margin: 2rem; }
  footer .footerContenido img {
    width: 50vw; }
  .galeria {
    grid-template-columns: repeat(3, 1fr); }
    .galeria .columnSpan1, .galeria .columnSpan2, .galeria .columnSpan3, .galeria .columnSpan4 {
      grid-column: span 1; }
    .galeria .columnSpan5, .galeria .columnSpan6 {
      grid-column: span 2; }
    .galeria .rowSpan1, .galeria .rowSpan2, .galeria .rowSpan3, .galeria .rowSpan4 {
      grid-row: span 1; }
    .galeria .rowSpan5, .galeria .rowSpan6 {
      grid-row: span 2; } }

/* Tablets */
@media only screen and (min-width: 921px) and (max-width: 1025px) {
  nav {
    height: 80px; }
    nav .checkbtn {
      display: block;
      line-height: 80px;
      font-size: 36px;
      margin-right: 30px; }
    nav #check:checked ~ ul {
      left: 0; }
    nav .logo {
      line-height: 80px;
      margin: 2px 0 0 40px; }
      nav .logo .logoImg {
        height: 70px; }
    nav ul {
      float: none;
      padding: 0;
      margin: auto;
      position: fixed;
      z-index: 4;
      top: 80px;
      right: 0;
      left: 100%;
      bottom: 0;
      width: auto;
      height: calc(100vh - 80px);
      flex-direction: column;
      justify-content: start;
      background-color: rgba(5, 5, 5, 0.9);
      overflow: hidden;
      transition: all 0.25s ease-in-out; }
      nav ul li {
        margin: 2rem; }
  footer .footerContenido img {
    width: 40vw; } }

/* Laptop */
@media only screen and (min-width: 1026px) and (max-width: 1280px) {
  footer .footerContenido img {
    width: 40vw; } }
