/* Carta */

.cartaTitulo{
    @include titulo;
}
.carta{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "bebidas entradas"
    "principal guarniciones";
    justify-items: center;
    grid-column-gap: 8vw;
    grid-row-gap: 8vh;
    .plato{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid $border;
        flex-direction: row;
        flex-basis: 580px;
        align-items: center;
        &:hover{
            img{
                border-radius: 0;
            }
        }
        &:nth-child(5){
            border-bottom: 0;
            margin-bottom: 40px;
        }
        img{
            width: 150px;
            height: 150px;
            margin-right: 30px;
            border-radius: 50%;
            border: 3px solid $border;
            padding: 3px;
            transition: all 0.3s ease;
        }
        .platoDesc{
            width: 100%;
            h4{
                text-transform: capitalize;
                font-size: 22px;
                border-bottom: 1px dashed $border;
                margin-bottom: 5px;
                padding-bottom: 5px;
                font-family: $roboto;
                span{
                    float: right;
                    color: $titulosPseudoElementos;
                }
            }
            p{
                font-size: 14px;
                font-style: italic;
            }
        }
    }
    .bebidas{
        grid-area: bebidas;
        width: 100%;
        .bebidasSubtitulo{
            @include subtitulo;
        }
    }
    .entradas{
        grid-area: entradas;
        width: 100%;
        .entradasSubtitulo{
            @include subtitulo;
        }
    }
    .principal{
        grid-area: principal;
        width: 100%;
        .principalSubtitulo{
            @include subtitulo;
        }
    }
    .guarniciones{
        grid-area: guarniciones;
        width: 100%;
        .guarnicionesSubtitulo{
            @include subtitulo;
        }
    }
}