/* Index */

.indexConteiner{
    .Index-bgImg{
        .bgImgFixed{
            background: url(../assets/img/fondo-index.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-attachment: fixed;
            height: 101vh;
        }
        .bgImgCaja{
            @include efectoBlur;
            position: absolute;
            top: 38vh;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 42%;
            height: 28%;
            text-align: center;
            border: 2px solid $border;
            border-radius: 75px;
            box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 1);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            overflow: hidden;
            h2{
                font-size: 2rem;
                font-weight: bold;
                text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.7);
                margin-bottom: 1rem;
                letter-spacing: 1px;
                word-spacing: 2px;
            }
            a{
                margin-top: 1rem;
                padding: 0.6rem 4.3rem;
                background-color: $bg1;
                color: $letras;
                border-radius: 0.75rem;
                text-decoration: none;
                font-size: 1.5rem;
                border: 5px solid $bg1;
                transition-duration: 0.5s;
                &:hover{
                    color: $bg1;
                    background-color: $letras;
                    border: 5px solid $bg1;
                    font-weight: bold;
                    transform: scale(1.03);
                }
            }
        }
    }
    .Index-gridContainer{
        width: 85%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 5rem;
        grid-template-areas:
        "nosotros carousel";
        .gridNosotros{
            grid-area: nosotros;
            .nosotrosTitulo{
                @include titulo;
                margin-top: 100px;
            }
            p{
                text-align: center;
                font-size: 22px;
                margin: auto;
            }
        }
        .gridCarousel{
            grid-area: carousel;
            max-width: 600px;
            margin: auto;
            .carouselTitulo{
                @include titulo;
                margin-top: 100px;
            }
        }
    }
}