$bg1: #1a1a1a;
$bg2: #401D15;
$border: #A67A53;
$letras: blanchedalmond;
$titulosPseudoElementos: #ff7620;
$raleway: 'Raleway', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$poppins: 'Poppins', sans-serif;
$roboto: 'Roboto Mono', monospace;