/* Reseteo */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "vars";
@import "mixins";

body{
    width: 100%;
    color: $letras;
    background-color: $bg2;
    font-family: $raleway;
    overflow-x: hidden;
}

@import "header";
@import "footer";
@import "index";
@import "galeria";
@import "carta";
@import "contacto";
@import "media-querys";